* {
    background-color: rgb(67, 53, 68);
}

.container {
    font-size: 40px;
    margin-left: 100px;
    line-height: 50px;
}

#my-name > a {
    color: salmon;
    text-decoration: none;
}

#my-posts > a {
    color: salmon;
    text-decoration: none;
}

#my-github > a {
    color: salmon;
    text-decoration: none;
}
#another-page > a{
     color: salmon;
    text-decoration: none;
}
#project2 > a{
     color: salmon;
    text-decoration: none;
}

#myimg{
height: 500;
width: auto;
}


#mygif{
    height: 500;
    width: auto;
    }
    

#my-name > a:hover {
    text-decoration: underline;
}

#my-posts > a:hover {
    text-decoration: underline;
}

#my-github > a:hover {
    text-decoration: underline;
}

#another-page > a:hover {
    text-decoration: underline;
}

#project2 > a:hover {
    text-decoration: underline;
}
